.App {
  text-align: center;
}

.list-type{
  list-style-type: none;
}

.list-sqaure{
  list-style-type: square;
}

.foot{
  position: relative;
  bottom: 0;
  min-height: 10vh;
  background-color: rgb(33,37,41);
  color: #fff;
  display: grid;
  place-items: center;
}

main{
  min-height: 100vh;
}